<h3>
   <i class="fas fa-book-reader">
   </i>
      <p>
         Task administrator login
      </p>
</h3>

<div class="section">

   <p class="lead">
      Log in here if you are an administrator.
   </p>
   <br>

   <div class="divider">
   </div>

   <div class="section">
      <a href="/administration/authentication/google" class="btn red darken-1">
         <i class="fab fa-google left"> Administrator login</i>
      </a>
   </div>

</div>